.logo-text {
  font-size: 24px;
  font-weight: 600;
  margin-left: 10px;
}
.navbar img {
  width: 40px;
}
.main {
  max-width: 870px;
  background: #fff;
}
.player img {
  width: 56px;
}
.player p {
  font-size: 18px;
  font-weight: 600;
}
.blog {
  max-width: 870px;
}
